A {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #cccccc
}
A:link {
	COLOR: #333333
}
A:visited {
	COLOR: #000000
}
BODY {
	FONT-SIZE: 9pt; FONT-FAMILY: ו; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: ו
}
INPUT {
	FONT-SIZE: 9pt; HEIGHT: 20px
}
BUTTON {
	FONT-SIZE: 9pt; HEIGHT: 20px
}
SELECT {
	FONT-SIZE: 9pt; HEIGHT: 20px
}
.button {
	font-size: 12px;
	color: #a4a4a4;
	background-color: #F9F9F9;
	height: 21px;
	border-top: 1px solid #c8ccc8;
	border-right: 2px solid #c8ccc8;
	border-bottom: 2px solid #a4a4a4;
	border-left: 1px solid #a4a4a4;
}
.border {
	BORDER-RIGHT: #c8ccc8 1px solid; BORDER-TOP: #c8ccc8 1px solid; BORDER-LEFT: #c8ccc8 1px solid; BORDER-BOTTOM: #c8ccc8 1px solid
}
.border2 {
	BORDER-RIGHT: #c8ccc8 1px solid; BORDER-TOP: 0px solid; BACKGROUND: #ffffff; BORDER-LEFT: #c8ccc8 1px solid; BORDER-BOTTOM: 0px solid
}
.title {
	BACKGROUND: #f0f0f0
}
.title_left {
	BACKGROUND: #f0f0f0
}
.title_right {
	BACKGROUND: #f0f0f0
}
.title_main {
	BACKGROUND: #f0f0f0
}
.tdbg {
	BACKGROUND: #ffffff
}
.tdbg_left {
	BACKGROUND: #ffffff
}
.tdbg_right {
	BACKGROUND: #ffffff
}
.tdbg_main {
	BACKGROUND: #ffffff
}
.topborder {
	BORDER-RIGHT: #6687ba 1px solid; BORDER-LEFT: #6687ba 1px solid; WIDTH: 768px; BORDER-BOTTOM: #a4a4a4 1px solid
}
.menu {
	BORDER-RIGHT: 1px; BORDER-TOP: 1px; BORDER-LEFT: 1px; WIDTH: 97%; BORDER-BOTTOM: 1px; BACKGROUND-COLOR: #f0f0f0
}
TD.MenuBody {
	BACKGROUND-COLOR: #f0f0f0
}
