/********************************************************************
 *
 *	Vanilla Cascading Style Sheets
 *	____________________________________________________
 *
 *	This is the central CSS file of Vanilla. The properties defined in here define
 *	the visual styles of the Vanilla application. On the one hand the properties
 *	refer to standard HTML tags and properties, on the other hand they refer to
 *	style classes introduced by the Paragon tag library. The origin and specifics
 *	of the latter are documented below on their first appearance in this file.
 *
 *************************************/




/********************************************************************
 *	Box Properties
 */

	body { margin-left : 0px; margin-top : 0px; margin-bottom : 0px; margin-right : 0px; }
	img { border: none; }
	img.o { vertical-align: middle; }
	table, tr, td { padding: 0px; }
	.indent { margin-left : 4px; }



/********************************************************************
 *	Colors
 *  body { background-color: white; }
 */



	body, td, dl, ul, li {color: #555555; }
	h1, h2, h3, h4  { color: #8f8f8f; }



/********************************************************************
 *	Fonts
 */


	body, td, th, input, button, select, option, textarea {
		font-family: ו,Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px;
	}
	.small, .small code { font-size: 90%}

	h2,h3,h4 { font-family: Arial, Helvetica, sans-serif; }

	h1 { font-size: 210%; }
	h2 { font-size: 170%; }
	h3 { font-size: 140%; }
	h4 { font-size: 110%; }

td{
word-break: break-all;
}

/********************************************************************
 *	Hyperlink Styles
 */

	a { text-decoration: none; color: #555555; }
	a:link, a:visited { }
	a:active, a:hover { text-decoration: underline; }



/********************************************************************
 *	Forms & Form Controls Styles
 */

	/*
	 *  NOTE: The classes .field and .button are automatically appended to generated
	 *  HTML <input> elements by the <xx:input> and <xx:button> tags.
	 */


	form { margin: 0px; }

	input.field, textarea, select, option
	{
		font-family: Tahoma, Verdana, helvetica; font-size: 11px;
		border: 1px inset #eeeeee;
		vertical-align: top;
		margin: 0px; padding: 0px 4px;
		color: #000000; background-color: #ffffff;
	}

	input, input.field, input.button, button { vertical-align: middle; }
	button img { vertical-align: absmiddle; }




/********************************************************************
 *	Aspects & Widgets
 */

	/*
	 *  NOTE: This section primarily defines styles, that are automatically used by
	 *  the Paragon Tag Library and Widgets.
	 */


	/*
	 * Form Control Styles -- The classes .aspect-label and .aspect-label2 are
	 * automatically added to an aspect's or form control's label by the <xx:label>,
	 * <xx:out>,
	 * <xx:input>, <xx:checkbox>, <xx:radio> and <xx:select> tags.
	 */

	.aspect-label, .aspect-label2 {
		font-family: Tahoma, Verdana, helvetica; font-size: 11px;
		font-weight: bold;
		text-align: right;
		color: #8f8f8f;
		padding: 0px 5px 0px 0px;
	}
	.aspect-label2 { font-weight: normal; }


	/*
	 * Error Styles --  The class .aspect-error is automatically added to the error
	 * messages generated by the <xx:errors> and <xx:error> tags as well as the form
	 * controls. In case of <xx:errors> and <xx:error>, the printed error messages
	 * are enclosed in a <div class="aspect-error">. Additionally, the form controls
	 * (<xx:input>,
	 * <xx:checkbox>, <xx:radio> and <xx:select>) enclose the rendered HTML element
	 * in a <span class="aspect-error"> in order to indicate an error in this
	 * control.
	 */
	div.aspect-error, div.aspect-error p, div.aspect-error td, div.aspect-error ul, div.aspect-error li { color: red; }
	span.aspect-error { border: 3px solid red; }



	/*
	 * Tree Widget -- The following classes are automatically added to a rendered
	 * tree by the <xx:tree> tag and its sub tags. A tree is enclosed in an HTML
	 * <table class="tree"> element. Each node/row in the tree is rendered in an HTML
	 * <tr class="tree-node"> element in case of the selected node this expands to
	 * <tr class="tree-node selected-node">. Note the use of contextual selectors in
	 * the style definitions below for specifically defining the styles of images and
	 * hyperlinks within a tree.
	 */
	.tree { xwidth: 100%; }
	.tree-node td { vertical-align: middle; font-family: "ו";  font-size: 12px; padding: 0px 4px 0px 2px; }
	.tree-node img { vertical-align: middle; border: none; }
	.tree-node span { vertical-align: middle; }
	.tree-node a:hover { text-decoration: none; }
	.tree-node a.label { color: #000000; }
	.tree-node a.label:hover { border: 1px outset; padding-left: 1px; }
	.tree-node a.label:active, .tree .selected-node a.label { background-color: #bbbbcc; border: 1px inset; padding: 0px 2px; }


	/*
	 * Table Widgets -- The following classes are automatically added to a rendered
	 * table widgets by the <xx:table> tag and its sub tags.
	 */
	th.header {}
	td.even-row {}
	td.odd-row {}
	td.row-selector {}
	th.row-selector {}




/********************************************************************
 *	Application-specific Styles
 */

	/*
	 * The styles in this section are specifically introduced in the Vanilla
	 * application, in particular by the central index.jsp. In this JSP, each major
	 * section (banner, menubar, index, content, topics) is enclosed by an HTML
	 * <td class=".portal-xyz"> element.
	 *
	 * Note the use of CSS contextual selectors to (re)define the styles of
	 * hyperlinks, content and trees for the different areas.
	 */

	.portal-banner { background-color: #6f6f6f; vertical-align: top; }
	.portal-index { background-color: #a4a4a4; }
	.portal-topics { background-color: #eeeeee; border-left: 1px solid #cccccc; }
	.portal-content{ background-color: #FFFFFF; } /* see also: a.menubar-selected */


	/*-- Banner Styles ----*/
	.portal-banner div.title { color: #FFFFFF; font-family: Verdana, helvetica, Arial Black; font-size: 14pt; font-weight: normal }
	.portal-banner div.watermark { color: #777777; font-family: "Arial Black", "Verdana", "helvetica"; font-size: 12px; font-weight: bold }


 	/*-- Menu Bar ----*/
 	/*-- Menu Bar ----*/
 	.menubar 					{ vertical-align: bottom; background: #8f8f8f; }
	.menubar a					{ font-family: arial, helvetica, sans-serif; font-weight: bold; }

	.menubar a					{ text-decoration: none; color: #ffffff; }
	.menubar a:hover 			{ text-decoration: none; color: #ffffff; background-color: #aaaaaa; }
	.menubar a.selected 			{ text-decoration: none; color: #000000; background-color: #ffffff; }
	.menubar a.selected:hover 	{ text-decoration: none; color: #000000; background-color: #ffffff; }

	.menubar a					{ height: 20px; padding: 5px 9px 3px; }
	.menubar a.selected 			{ height: 20px; padding: 4px 8px 2px; }
	.menubar a.selected 			{ border-top: 2px outset #ffc444; border: 1px outset #cccccc; border-bottom: 1px solid #ffffff; }
	.menubar a:hover 			{ border-top: 2px solid #ffc444; padding-top: 3px; }


	/*
	 * The following redefine the appearance of the menu tree in the .portal-index
	 * area.
	 */
	.portal-index .tree-node a { color: #FFFFFF; }
	.portal-index .tree-node a:hover { text-decoration: none; border: none; padding: 0px; }
	.portal-index .tree-node a.label:selected { text-decoration : underline;  }
	.portal-index .tree-node a.label:hover { text-decoration : underline; }
	.portal-index .tree-node a.label:active, .tree .selected-node a.label { background-color: transparent; border: none; padding: 0px;}


	/*
	 * The following styles define the different fonts to be used for content that is
	 * displayed by the content proxy part in the .portal-content area and in the
	 * .portal-topics area.
	 */
	.portal-content .content { padding: 10; font-size: 9pt; line-height: 123%; font-family: Verdana, Arial, helvectica, sans-serif }
	.portal-content .content ul.emp { list-style-image:  url(images/list-item.gif); margin-bottom: 14px; margin-top: 14px; }
	.portal-content .content ul.emp li { margin: 4px 0px 14px; padding-right: 33px; }
	.portal-content .content a { text-decoration: underline; }
	.portal-content .content a:hover { background-color: #BBBBBB; color: #ffffff; text-decoration: none; }

	.portal-topics .content { font-size: 8pt; font-family: Verdana, Arial, helvectica, sans-serif }
	.portal-topics .content ul { margin-left: 0; padding: 0; }




/********************************************************************
 *	Decorator & Layout Styles
 */


	/*
	 * The following styles refer to specific decorators and layouts. They can be
	 * overridden on a per desk basis on desk specific style sheets
	 */


	/*-- Decorator: caption ----*/
	.simple-caption { font-size: 14px; font-weight: bold; border-bottom: 1px solid #dddddd; }
	.simple-caption a { color: #a4a4a4; text-decoration: none; }
	.simple-body { padding-top: 11px; }
	.simple-framed { border: 2px groove; padding: 9px; }

	/*-- Layout: tabbed ----*/
	.layout-tabbed .body				{ padding: 10px; background-color: #dddde4; border: 1px outset #ffffff; border-top: none; }
	.layout-tabbed .tabs a				{ height: 16px; padding: 1px 7px 3px; 	background-color: #888888; color: #ffffff;  }
	.layout-tabbed .tabs a.selected 		{ height: 18px; padding: 3px 6px 3px; 	background-color: #dddddd; border: 1px outset #ffffff; border-bottom: none; color: #222222; font-weight: bold; }
	.layout-tabbed .tabs a:hover 			{ background-color: #aaaaaa; }
	.layout-tabbed .tabs a.selected:hover	{ background-color: #eeeeee; }


	/*-- Decorator: exxperience ----*/
	.exxperience .header table { background-color: #a4a4a4; } /* { background-image: url(decorators/exxperience/top-bg-steelblue.gif); } */
	.exxperience .header span { background-color: #9f9f9f; }
	.exxperience .body { background-color : #FFFFFF; }

	/*-- Decorator: index ----*/
	.index .header { background-color: #6f6f6f; font-size : 12px; font-weight : normal; color: #FFFFFF; padding-left: 4px; border-style: none; }
	.index .border { border-bottom: 1px solid #4f4f4f; }
  	.index .content { color: #FFFFFF; border-bottom: 1px solid #eef3fa; background-color : #a2a2a2; border-top: none; }


	/********************************************************************
	* styles used for buttons & labels in portal view as well as tools
	*/

	div.floater { position: absolute; right: 4; z-index: 9; }
	a.toggle-toolbox:hover { background-color: #F1F1F1; }

a.invalidate:hover { background-color: red; }
a.toggle-edit:hover { background-color: limegreen; }
a.toggle-sync:hover { background-color: #aaaaaa; }
a.toggle-tools:hover { background-color: teal; }
a.toggle-anatomy:hover { background-color: green; }


.builder-pwrapper:hover { border: 2px solid orange; }
.builder-pwrapper .focus { border: 2px solid red ! important; }
.builder-pwrapper .anatomy { border: 2px groove; padding: 7px; }
.builder-pwrapper .label a {
	font-family: Arial, helvetica; font-weight: bold; font-size: 10px; color: #cc0000;
}

.builder-pwrapper div.label {
	position: absolute;
	z-index: 8;
	background-color: #ffc444;
	border: 1px outset white ! important;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}

.builder-pwrapper .label a:hover, .builder-pwrapper .label .selected {
	background-color: red; color: #ffe400;
	text-decoration: none;
	font-size: 17px;
}

.builder-tool-body {
	background-color: #ECE9D8;
}

div.footer {
	padding: 5px 0px 10px 5px;
	border-top: 1px dotted #c0c0c0;
	color: #666;
	background: transparent;
    text-align:right
}

div.footer a {
	color: #666;
	background: transparent;
}

div.footer a:hover {
	color: #000;
	background: transparent;
	text-decoration: none;
	border-bottom: 1px dashed orange;
}

div.footer a:active {
	color: blue;
	background: transparent;
	text-decoration: overline underline;
}

a.toggle-toolbox:hover { background-color: #F1F1F1; }

a.invalidate:hover { background-color: red; }
a.toggle-edit:hover { background-color: limegreen; }
a.toggle-sync:hover { background-color: #aaaaaa; }
a.toggle-tools:hover { background-color: teal; }
a.toggle-anatomy:hover { background-color: green; }
a.toggle-button { margin:1px; }
a.toggle-button:hover { margin:0px; border:1px outset #cccccc; }
