

/********************************************************************
 *	Box Properties
 */

	body { margin-left : 0px; margin-top : 0px; margin-bottom : 0px; margin-right : 0px; }
	img { border: none; }
	img.o { vertical-align: middle; }
	table, tr, td { padding: 0px; }
	.indent { margin-left : 4px; }

body, td, th, select, option, textarea,table {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
    word-break: break-all;

}
.text {
	font-family: "宋体";
	font-size: 10pt;
	color: #000000;
	text-decoration: none;
}
.BlackText-9p {
	font-family: "宋体","Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #000000;
	line-height: 21px;
	text-align: left;
	text-decoration: none;
}

.BlueGText {
font-family: "宋体";
	font-size: 9pt;
	color: #5a5a5a;
	text-decoration: none;
; text-align: left

}
a.BlueGText:hover {
	text-decoration: underline;
	font-family: "宋体";
	font-size: 10px;

}
.fonttop {
	font-size: 14px;
	color: #5f5f5f;
	font-family: "宋体";
	font-weight: bold;

}
.fonttop2 {

	font-size: 15px;
	color: #5f5f5f;
	font-family: "Arial", "Helvetica", "sans-serif";
	font-weight: bold;
}
.tabletext {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #dddddd;
	height: 25px;
	font-weight: normal;
	line-height: 22px;
}
.tabletextover {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #cfcfcf;
	height: 25px;
	font-weight: normal;
	line-height: 22px;
	cursor: hand;
}
.tabletextovernohand {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #cfcfcf;
	height: 25px;
	font-weight: normal;
	line-height: 22px;
}
.toptext {  font-family: "宋体"; font-size: 9pt; font-weight: bold; color: #000000; text-decoration: none}
blewtable-text {  font-family: "宋体"; font-size: 9pt; color: #Eeeeee; text-align: left}
blewtable-text {  }
blewtabletext {  font-family: "宋体"; font-size: 9pt; color: #cfcfcf; text-decoration: none; text-align: left}
blewtext {  font-family: "宋体"; font-size: 9pt; color: #cfcfcf; text-decoration: none; text-align: left}
.Textlink {

	font-family: "宋体";
	font-size: 9pt;
	color: #990000;
	text-decoration: underline;
; text-align: left
}

.redtext {  font-family: "宋体"; font-size: 9pt; color: #FF0000; text-decoration: none}
.white {  font-family: "宋体"; font-size: 10pt; color: #FFFFFF; text-decoration: none; font-weight: bolder}
.deepgreen-title {  font-family: "宋体"; font-size: 10pt; color: #418645; text-decoration: none; font-weight: bolder}
.title-black {
	font-family: "宋体";
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.amethyst-title {
	font-family: "宋体";
	font-size: 10pt;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}

.button {
	font-size: 12px;
	color: #5f5f5f;
	background-color: #F9F9F9;
	height: 21px;
	border-top: 1px solid #afafaf;
	border-right: 2px solid #5f5f5f;
	border-bottom: 2px solid #5f5f5f;
	border-left: 1px solid #afafaf;
}

.arrowhead {
	font-size: 12px;
	color: #666666;
	background-color: #C0C0C0;
	padding-top: 1px;
	padding-right: 1px;
	padding-left: 1px;
	height: 20px;
	font-family: "宋体";
	text-decoration: none;
	border: 1px solid #696969;




}
.textred {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;

}
select,option,wenbenhang {
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid;
	text-align: left;
	vertical-align: middle;
	white-space: normal;
	top: 3px;


}
.tabletop {
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #afafaf;
	height: 25px;
	text-align: center;
}
.tabletop-2 {
	font-size: 12px;
	line-height: 22px;
	font-weight: normal;
	color: #000000;
	background-color: #cfcfcf;
	height: 25px;
	font-family: "宋体";
}
.fonttop3 {


	font-size: 14px;
	color: #4f4f4f;
	font-family: "宋体";
	font-weight: normal;
}
.toptextlink {
	font-size: 14px;
	color: #5f5f5f;
	text-decoration: none;

}
.tabletitle {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bolder;
	color: #000000;
	text-decoration: none;
}
.arrowhead {
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #007EA8;
	text-align: center;
	margin: 1px;
	padding: 1px;
	height: 15px;
	width: 18px;
	border: 1px 1;
}
.blueright {
	font-size: 12px;
	color: #006F93;
	text-decoration: none;
	text-align: right;
}
.claritytextbox {
	font-size: 12px;
	color: #000000;
	background-color: #E4E4e4;
	border: none;
	height: 21px;
	text-align: left;
	vertical-align: middle;
	white-space: normal;
	top: 3px;
}
.listtable {
	font-size: 12px;
	color: #000000;
	text-indent: 12px;
	font-family: "宋体";
	display: table-column-group;
	text-align: justify;


}
.tablebg {
	font-size: 12px;
	color: #000000;
	background-color: #Dddddd;
	background-position: center;
	text-align: center;

}
.green {
	font-family: "宋体";
	font-size: 9pt;
	color: #3F8640;
	text-decoration: none;
}
.left-title {
	font-family: "方正粗倩简体", "宋体";
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 8px;
	text-align: center;
}
.white-title {
	font-family: "宋体";
	font-size: 24px;
	font-weight: bolder;
	color: #FFFFFF;
}
.viewover {
	text-decoration: none;
	background-color: #eee;
	font-weight: normal;
	cursor: hand;
}
.disable{
	BACKGROUND-COLOR: #cccccc;
}
.invalidText {
    font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-color: #eeeeee;
	text-align: left;
	vertical-align: middle;
	height: 21px;
	border: 1px solid;
}
